.button {
  display: flex;
  align-items: center;
  background-color: #222222;
  border: none;
  cursor: pointer;
  padding: 7px;
  user-select: none;
  color: white;
}

.button:hover {
  background-color: #444444;
}

