.container {
  position: relative;
  height: 30px;
  width: 500px;
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 500px;
  border: none;
  border-radius: 15px;
  background-color: #222222;
  overflow: hidden;
  box-shadow: 1px 2px 6px #00000066;
  position: absolute;
  z-index: 1;
  top: 0;
}

.open {
  padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 2px 8px #000000bb;
}

.searchBar > input {
  display: flex;
  flex: 1;
  padding: 5px;
  padding-left: 20px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: white;
}

.searchBar > input:focus {
  outline: none;
}

.searchItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  padding-left: 20px;
  user-select: none;
  cursor: pointer;
}

.searchItemText {
  display: flex;
  flex-direction: column;
}

.searchItemText > h1 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.searchItemText > p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #666666;
}

.searchItem:hover {
  background-color: #dddddd;
}
