.movieItem {
  display: flex;
  flex-direction: column;
  flex: 0;
  margin: 10px;
}

.poster {
  height: 268px;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

.poster:hover {
  transform: scale(1.2);
  z-index: 4;
  filter: brightness(60%);
}

.body {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

.title {
  color: white;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 20px;
  height: 40px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: block;
  display: -webkit-box;
}

.title:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  flex: 1;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.rating > p {
  margin: 0px;
  margin-top: 3px;
  color: #999999;
}
