.movie {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

.movie:not(:nth-child(1)) {
  border-top: 1px #dddddd solid;
}

.flex {
  display: flex;
  flex: 1;
}

.movieList {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
